:root{
    --accent-color: #2196F3;
    --primary-text-color: #212121;}
    h1{
        color: var(--primary-text-color);
        width:350px;
        height:220px;
        background: green;
        border-style: dashed;
        margin: 30px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-top: 20px;
        padding-right: 10px;
    }